// Variables persos
@widthTopic :20%;
@height-header:@navbar-height;
@height-image-section:100px;
@height-img-active-indicator:7px;
@margin-logo:15px;

@width-summary:500px;
@padding-summary:25px;

//Autres variables modifiées
@navbar-height:75px;

#header{
	position: fixed;
	top: 0;
	width: 100%;
	padding-left:15px;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: -500%;
		z-index: -1;
		display: block;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.3)), to(rgba(0,0,0,0)));
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0));
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0));
		background-image: -o-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0));
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#00000000', GradientType=0);			
	}

	.dropdown{
		font-size: 25px;		
		font-weight: 300;
		float: right;
		display: block;
		height: @navbar-height;	
		margin-right: 30px;
		.dropdown-toggle{
			position: relative;
			display: block;
			height: @navbar-height;
			line-height: @navbar-height;
			color: white;
			padding: 0px;
			cursor: pointer;
			margin: auto;
			max-width: 400px;
			.icon{
				vertical-align: sub;
			}		
		}	
		.channel{
			background-color: white;
			max-height: @navbar-height - 2* @margin-logo;
			margin: @margin-logo 0px;
		}				
		.dropdown-menu{
			font-size: 20px;			
			float: none;
			text-align: center;
			position: static;
			background-color: transparent;
			list-style: none;
			box-shadow: none;
			li{
				a{
					display: inline-block;
					color: white;
					font-weight: 300;
				}
			}
			li a:hover{
				background-color: transparent;
				h3{
					color: @brand-primary;
				}
			}
		}	
	}	
}


#first-section{	
	overflow-x: hidden;	
	height: 100vh;	
	.titre{
		color: white;
		margin-top: 0px;
		position: relative;
		width: 100%;
	}
	.summary{
		display: inline-block;
		width: @width-summary;
		padding: 50px @padding-summary @padding-summary @padding-summary;
		font-family: @font-family-serif;
		background-color: white;
		.box-shadow(0 2px 3px rgba(0,0,0,0.1));		
		margin: 0 auto;
		left: 0;
		right: 0;		
		position: absolute;
		.transition(all 0.4s ease);		
		.rank{			
			background-color: @brand-primary;
			color: white;
			font-size: 27px;
			position: absolute;
			left: 15px;
			top: 0px;
			padding: 2px 30px;
			// .box-shadow(-2px -2px 4px 0px rgba(0, 0, 0, 0.1) inset);
			.channel{
				max-width: 20px;
			}
		}
		h1{
			margin-top: 0px;
			font-size: 60px;
			color: @gray-darker;
		}
		p{
			color: @gray-dark;
		}
		&.right{
			left: 90vw;
			cursor: pointer;
			right: @padding-summary - @width-summary;
			&:hover{
				right: @padding-summary+100 - @width-summary;
			}
		}
		&.right-hidden{
			left: 110vw;
			right: -@width-summary;
		}
		&.left{
			right: 90vw;
			cursor: pointer;
			left: @padding-summary - @width-summary;
			&:hover{
				left: @padding-summary+100 - @width-summary;
			}
		}	
		&.left-hidden{
			right: 110vw;
			left: -@width-summary;
		}			
	}
}

#section-images{
	position: absolute;
	width: 100%;
	top: 100%;	
	height: @height-image-section;
	margin-top: -@height-image-section;
	overflow: hidden;			
	.box-shadow(0 -2px 3px rgba(0,0,0,.3));
	.images {
		font-size: 0;/*Important, permet d'éviter des gaps entre les images*/
		position: absolute;
		bottom: 0;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		width: 100%;
		.topic {
			display: inline-block;
			font-size: 1em;
			width: @widthTopic;
			a{
				position: relative;
				display: block;
				overflow: hidden;
				height: 100%;
				img{
					vertical-align: baseline;
					width: 100%;	
					min-height: 100%;			
				}
				.text{
					padding-bottom: 2* @height-img-active-indicator; 
					opacity: 0;
					.transition(all 0.2s ease);
					font-size: @font-size-base;
					font-family: @font-family-serif;
					position: absolute;
					bottom: 0px;
					padding-top: @height-image-section /2 - @font-size-base ;
					height: @height-image-section;
					width: 100%;
					text-align: center;
					color: white;
					z-index: 1;
					white-space: normal;
				}	
				.shadow{
					opacity: 0;
					.transition(all 0.2s ease);					
					position: absolute;
					bottom: 0;
					width: 100%;
					height: @height-image-section;
					z-index: 0;
					display: block;
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
					background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
					background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
					background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
					background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
					background-repeat: repeat-x;
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#00000000', GradientType=0);			
				}				
				&:hover{
					.text{			
						opacity: 1;
						color: white;
					}
					.shadow{
						opacity: 1;
					}
				}					
				&:after{
					content: "";
					position: relative;
					bottom: 0px;
					height: 0px;
					margin-bottom: 0px;					
					display: block;
					opacity: 0;
					background-color: @brand-primary;		
					.transition(opacity 0.2s ease);
					bottom: @height-image-section;
					height: @height-img-active-indicator;
					margin-bottom: -@height-img-active-indicator;						
				}						
			}
		}			
		.topic.active a:after, .topic.inactive a:hover:after{
			opacity: 1;					
		}
		.topic.active{
			.text,.shadow{
				opacity: 1;
			}
			img{
				-webkit-filter: grayscale(1) blur(2px) brightness(0.5) ;
				filter: grayscale(1) blur(2px) brightness(0.5);
			}
		}
	}	
}	

#navbar{
	.box-shadow(0 2px 3px rgba(0,0,0,.1));
	border:none;
	//height: @navbar-height;
	.container-fluid{
		text-align: center;
		background-color: white;
	}
	.dropdown{
		font-size: 25px;
		.dropdown-toggle{
			//color: @gray;
			font-weight: 300;
			padding: 0px;
			.icon{
				vertical-align: sub;
			}
		}
		.channel{
			background-color: @gray-lighter;
			max-height: @navbar-height - 2* @margin-logo;
			margin: @margin-logo 0px;
		}
		.dropdown-menu{
			font-size: 20px;
		}
	}
	.topics{
		opacity: 0;
		//float:none;
		vertical-align: top;
		.transition(opacity 0.2s ease);		
		li{
			float:none;
			display:inline-block;
			vertical-align: top;			
			height: @navbar-height;
			text-align: center;
			min-width: 70px;
			padding: 0px 20px; 
			overflow: hidden;
			a{	
				padding: 0px;
				.transition(all 0.2s ease);
				.word{
					display: block;
					.transition(all 0.2s ease);
				}
				.word1{
					line-height: @navbar-height;					
					color: rgba(119, 119, 119, 0.58);
					font-size: @font-size-base;
				}
				.word2{
					opacity: 0;
					color: lighten(rgba(119, 119, 119, 0.58),20%);
					font-size: @font-size-small;
				}
				.word3{
					opacity: 0;
					color: lighten(rgba(119, 119, 119, 0.58),40%);
					font-size: @font-size-small;
				}	
				&:hover,&.active{
					padding-top: 3px;
					.word1{
						color: @brand-primary;						
					}
					.word2{
						opacity: 1;
						color: lighten(@brand-primary,20%);
					}
					.word3{
						opacity: 1;
						color: lighten(@brand-primary,40%);
					}						
				}
				&:hover{
					.word1{
						line-height: inherit !important;
						border-bottom: 0px !important;
					}
				}	
				&.active{
					.word1{
						border-bottom: 4px solid @brand-primary;													
						line-height: @navbar-height - 7px;
					}
				}							
			}
		}
	}
}

.row-ranking{
	height: 0px;
}
.ranking{
	.pull-right();
	li{
		display: inline;
		a{	
			color: @gray;
			display: inline-block;				
			height: @navbar-height;
			font-size: @font-size-large;
			padding-top: 0px;
			padding-bottom: 0px;	
			line-height: @navbar-height;			
			.transition(all 0.2s ease);
			.icon{
				font-size: @font-size-large * 1.1;
			}
			.text{
				font-weight: 400;					
				display: none;
				letter-spacing: 0.01;					
			}
			&:hover,&.active{
				background-color: transparent;
				color: @brand-success;
			}					
		}			
	}
	.rankby{
		margin: 20px 0px;
		width: 100%;
		height: 0px;
		text-align: center;
		color: @gray-light;

	}
}

#main{
	background-color: white;
	.topic{
		display: none;
		&.active{
			display: block;
		}
	}
	.container{
		background-color: white;			
		//position: relative;
		width: 100%;
		min-height: 80%;		
	}
	.titre{
		h1{
			font-family: @font-family-serif;			
			font-size: 40px;
		}
		h4{
			font-size: 18px;
			font-weight: 300;
			a{
				color: lighten(@brand-primary, 10%);
				.transition(color 0.2s ease);
				&:hover{
					color: @brand-primary;
				}
			}
		}
	}
	.row.tweet{

		.profile{
			img{
				width: 100%;
				max-width: 100px;
				.img-circle();
			}
		}
		.text{
			.handle,.nom{
				text-align: left;
				font-size: 20px;				
			}				
			.nom{
				font-weight: bold;
			}		
			.handle{
				margin-left: 20px;
			}
			p{
				font-family: @font-family-serif;				
				padding-top: 10px;
				font-size: 23px;
				font-weight: 400;
				color: @gray-dark;
			}	
			img{
				width: 100%;
				.box-shadow(0 2px 3px rgba(0,0,0,.1));				
				border-radius: @border-radius-small;
			}
		}
		.numbers{
			padding: 0px;
			font-size: 22px;
			vertical-align: middle;		
			.number{
				max-width: 130px;
				background-color: @brand-primary;
				.box-shadow(0 2px 3px rgba(0,0,0,0.1));
				color: white;				
				padding: 4px 10px;
				text-align: right;
				display: block;
				margin: 0px 0px 5px 0px;
				font-weight: 300;
				.transition(all 0.2s ease);
				.value{
					font-size: 20px;
					margin-right: 10px;
				}
				.icon{
					font-size: 20px;
				}
				&:hover{
					background-color: darken(@brand-primary,10%);
				}
				&.inverse{
					background-color: white;
					color: @brand-primary;
				}
			}	
		}
	}	
}

#section-background{
	z-index: -1;
	position: fixed;	
	.background{
		opacity: 0;
		.transition(all 1s ease);
		.section-background-image{
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			min-width: 100%;
		}		
		&.active{
			opacity: 1;
			.section-background-image.net{
				z-index: -2;			
			}
			.section-background-image.blur{
				z-index: -1;		
			}			
		}
	}
}		

// Pour la section-iamges : permet de passer d'une rangée de 10 à une rangée de 5 par exemple. 
@media (min-width: @screen-md-min) {
	.section-images{
		.images .topic.active:before, .topic{
				width: @widthTopic;
		}	
	}	
}
@media (max-width: @screen-md-min) {
	.section-images{
		.images .topic.active:before, .topic{
				width: @widthTopic;
		}	
	}	
}

@media (min-width: @screen-md-min) {
	#main{
		.tweet{
			width: 0.9* @screen-md-min;
		}
	}
}
@media (min-width: @screen-lg-min) {
	#main{
		.tweet{
			width: 0.8 * @screen-lg-min;
		}
	}
}

.logo{
	.pull-left();
	a{
		line-height: @navbar-height;
	}
	img{
		max-height: @navbar-height - 2* @margin-logo;
		margin: @margin-logo;
	}
	.titre{
		margin-left: 30px;
		font-weight: bold;
		font-size: 25px;		
		line-height: @navbar-height;
		color: @brand-primary;
	}
}	

.titre{
	text-align: center;
	h1{
		font-weight: 400;
		font-size: 50px;		
	}
	h3{
		font-weight: 300;
		font-size: 25px;
		color:  @gray-lighter;	
		.transition(color 0.1s ease);
	}
}

.wrapper-images{
	height: 0px !important;
	#section-images.stuck{
		z-index: 1;
		position: fixed;
		top: 0px;//@height-image-section;
	}	
}
.wrapper-navbar{
	#navbar.stuck{
		width: 100%;
		z-index: 1;
		position: fixed;
		top: 0px;//@height-image-section;
		.topics{
			opacity: 1;
		}
	}	
}

#main.card-style{
	.container{
		background-color: #fcfcfc;
		.separation{
			display: none;
		}
		.titre{
			margin-top: 45px;
		}
		.row.tweet{			
			padding: 0px 10px 25px 10px;
			margin: 30px auto;
			.profile{
				padding-top: 15px;
			}
			.card{
				padding: 15px 30px 30px 30px;
				background-color: white;
				.box-shadow(0 2px 3px rgba(0,0,0,0.1));
				margin: 0px auto;			
			}
		}		
	}
}


.btn-daily{
	.button-variant(@brand-primary;white; @brand-primary);
	font-size: @font-size-base;
	font-weight: 300;
	margin: 0px 20px;
	border-radius: 0px;
	// font-family: @font-family-sans-serif;
	.transition(all 0.2s ease);
	&:hover{
		background-color: @brand-primary;
		color: white;
	}
}

