<% include header %>

<div id="header" data-0="opacity:1;display:block;" data-400="opacity:0;display:none;">
    <a class="logo" href="#">
      <img src="img/logo-white.png">
    </a>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        <span class="pull-right">
          <img src="img/channels/news.png" class="img-circle channel">
            French news
          <span class="icon icon-arrow-down8"></span>           
        </span>         
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <img src="img/channels/sport.png" class="img-circle channel"> Sport              
         </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <img src="img/channels/science.png" class="img-circle channel"> Science            
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            <img src="img/channels/music.png" class="img-circle channel"> Music              
          </a>
        </li>
      </ul>
    </div>             
</div>

<div id="first-section">
  <div class="titre" data-0="opacity:1;display:block;margin-top:20vh;" data-400="opacity:0;display:none;margin-top:0vh;">
    <div class="summary">
    <h1>#1 Etats-unis Iraq America</h1> 
    <p>Iraq and America have pushed back the Islamic State, but it will take much more to quash the threat of it across the wider region</p>     
    <button class="btn btn-daily" onclick="$('html, body').animate({scrollTop: $('#main').offset().top}, 350);">
      More on this <span class="icon icon-arrow-down3"></span>
    </button>
    </div>
  </div> 
</div>

<div id="section-images" class=""> 

  <div class="images">

    <div class="topic active">
      <a href="#">
        <div class="text">#1 Etats-unis Iraq America</div>
        <div class="shadow"></div>          
        <img src="img/iraq.jpg">
      </a>
    </div>
    <div class="topic inactive">
      <a href="#">
        <div class="text">#2 Palestine Gaza Wall</div>
        <div class="shadow"></div>
        <img src="img/israel.jpg">
      </a>
    </div>
    <div class="topic inactive">
      <a href="#">
        <div class="text">#3 Ukraine Gas Russia</div>
        <div class="shadow"></div>          
        <img src="img/ukraine.jpg">
      </a>
    </div>  
    <div class="topic inactive">
      <a href="#">
        <div class="text">#4 Hollande Valls Gouvernement</div>
        <div class="shadow"></div>          
        <img src="img/hollande.jpg">
      </a>
    </div>
    <div class="topic inactive">
      <a href="#">
        <div class="text">#5 Libération Paris 1944</div>
        <div class="shadow"></div>          
        <img src="img/paris.jpg">
      </a>
    </div>                        
  </div>         
</div>  




  <div id="main" class="card-style">

    <div id="navbar" class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>           
          </button>
          <a class="logo" href="#">
            <img src="img/logo.png">
          </a>                 
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <img src="img/channels/news.png" class="img-circle channel">
                  French news                        
                 <span class="icon icon-arrow-down8"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><img src="img/channels/sport.png" class="img-circle channel"> Sport</a></li>
                <li><a href="#"><img src="img/channels/science.png" class="img-circle channel"> Science</a></li>
                <li><a href="#"><img src="img/channels/music.png" class="img-circle channel"> Music</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav topics">
            <li>
              <a href="#" class="active">
                <span class="word word1">#1 Etats-unis</span>
                <span class="word word2">Iraq</span>
                <span class="word word3">America</span>
              </a>
            </li>  
            <li>
              <a href="#">
                <span class="word word1">#2 Palestine</span>
                <span class="word word2">Gaza</span>
                <span class="word word3">Wall</span>
              </a>
            </li>              
            <li>
              <a href="#">
                <span class="word word1">#3 Ukraine</span>
                <span class="word word2">Gas</span>
                <span class="word word3">Russia</span>
              </a>
            </li>  
            <li>
              <a href="#">
                <span class="word word1">#4 Hollande</span>
                <span class="word word2">Valls</span>
                <span class="word word3">Gouvernement</span>
              </a>
            </li>  
            <li>
              <a href="#">
                <span class="word word1">#5 Libération</span>
                <span class="word word2">Paris</span>
                <span class="word word3">1944</span>
              </a>
            </li>  

          </ul>
          <ul class="nav navbar-nav ranking hidden-sm hidden-md hidden-lg">
            <div class="rankby">Rank by</div>                
            <li>
              <a href="#">
                <span class="icon icon-star3"></span>
                <span class="text">By favorites</span>
              </a>
            </li>
            <li>
              <a href="#" class="active">
                <span class="icon icon-retweet"></span>
                <span class="text">By retweets</span>
              </a>
            </li>                  
            <li>
              <a href="#">
                <span class="icon icon-clock"></span>
                <span class="text">Chronologically</span>
              </a>
            </li>
          </ul>            
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>

    <div class="container">

        <div class="col-sm-12 hidden-xs row-ranking">
          <ul class="nav navbar-nav ranking">
            <div class="rankby">Rank by</div>                
            <li>
              <a href="#">
                <span class="icon icon-star3"></span>
                <span class="text">By favorites</span>
              </a>
            </li>
            <li>
              <a href="#" class="active">
                <span class="icon icon-retweet"></span>
                <span class="text">By retweets</span>
              </a>
            </li>                  
            <li>
              <a href="#">
                <span class="icon icon-clock"></span>
                <span class="text">Chronologically</span>
              </a>
            </li>
          </ul>            
        </div>

      <div class="row titre">
        <h1>#1 Etats-unis iraq America</h1>  
<!--         <button class="btn btn-daily btn-md">
          Details
        </button>
        <button class="btn btn-daily btn-md">
          Share
        </button>    -->     
      </div>       
    
      <div class="row tweet">
        <div class="hidden-xs col-sm-2 profile">
          <img src="img/profiles/monde.png" >
        </div>
        <div class="col-xs-9 col-sm-8 text card">
          <span class="nom">Le Monde</span><span class="handle"><a href="#">@lemondefr</a></span>
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 numbers">
          <a href="" class="number">
            <span class="value">234</span>                
            <span class="icon icon-retweet"></span>
          </a>
          <a href=""  class="number">
            <span class="value">45</span>
            <span class="icon icon-star3"></span>
          </a>      
          <div class="number inverse">
            <span class="value">45' ago</span>
            <span class="icon icon-clock"></span>            
          </div>                    
        </div>
      </div> 
      <div class="row tweet">
        <div class="hidden-xs col-sm-2 profile">
          <img src="img/profiles/figaro.jpeg" >
        </div>
        <div class="col-xs-9 col-sm-8 text card">
          <span class="nom">Le figaro</span><span class="handle"><a href="#">@lefigaro</a></span>
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 numbers">
          <a href="" class="number">
            <span class="value">234</span>                
            <span class="icon icon-retweet"></span>
          </a>
          <a href=""  class="number">
            <span class="value">45</span>
            <span class="icon icon-star3"></span>
          </a>                
          <div class="number inverse">
            <span class="value">15' ago</span>
            <span class="icon icon-clock"></span>            
          </div>           
        </div>
      </div> 
      <div class="row tweet">
        <div class="hidden-xs col-sm-2 profile">
          <img src="img/profiles/figaro.jpeg" >
        </div>
        <div class="col-xs-9 col-sm-8 text card">
          <span class="nom">Le figaro</span><span class="handle"><a href="#">@lefigaro</a></span>
          <img src="img/activemedium2.jpg" >
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 numbers">
          <a href="" class="number">
            <span class="value">234</span>                
            <span class="icon icon-retweet"></span>
          </a>
          <a href=""  class="number">
            <span class="value">45</span>
            <span class="icon icon-star3"></span>
          </a>                
          <div class="number inverse">
            <span class="value">45' ago</span>
            <span class="icon icon-clock"></span>            
          </div>           
        </div>
      </div> 
      <div class="row tweet">
        <div class="hidden-xs col-sm-2 profile">
          <img src="img/profiles/parisien.png" >
        </div>
        <div class="col-xs-9 col-sm-8 text card">
          <span class="nom">Le parisien</span><span class="handle"><a href="#">@parisienfr</a></span>
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 numbers">
          <a href="" class="number">
            <span class="value">234</span>                
            <span class="icon icon-retweet"></span>
          </a>
          <a href=""  class="number">
            <span class="value">45</span>
            <span class="icon icon-star3"></span>
          </a>                
          <div class="number inverse">
            <span class="value">33' ago</span>
            <span class="icon icon-clock"></span>            
          </div>           
        </div>
      </div> 
      <div class="row tweet">
        <div class="hidden-xs col-sm-2 profile">
          <img src="img/profiles/monde.png" >
        </div>
        <div class="col-xs-9 col-sm-8 text card">
          <span class="nom">Le Monde</span><span class="handle"><a href="#">@lemondefr</a></span>
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 numbers">
          <a href="" class="number">
            <span class="value">234</span>                
            <span class="icon icon-retweet"></span>
          </a>
          <a href=""  class="number">
            <span class="value">45</span>
            <span class="icon icon-star3"></span>
          </a>                
          <div class="number inverse">
            <span class="value">45' ago</span>
            <span class="icon icon-clock"></span>            
          </div>           
        </div>
      </div>                         


                                          

    </div>
  </div>

  <div id="section-background">
    <img  src="img/iraqblur.jpg" class="section-background-image blur" data-0="opacity:0;" data-300="opacity:1;">
    <img src="img/iraq.jpg" class="section-background-image net"> 
  </div>  

  <script src="js/jquery-2.1.1.min.js"></script>

  <script src="js/bootstrap/dropdown.js"></script>  
  <script src="js/bootstrap/collapse.js"></script>   
  <script src="js/bootstrap/affix.js"></script>  
  <script src="js/bootstrap/alert.js"></script>   
  <script src="js/bootstrap/button.js"></script>  
  <script src="js/bootstrap/carousel.js"></script>   
  <script src="js/bootstrap/modal.js"></script>  
  <script src="js/bootstrap/tooltip.js"></script>  
  <script src="js/bootstrap/popover.js"></script>       
  <script src="js/bootstrap/scrollspy.js"></script>  
  <script src="js/bootstrap/tab.js"></script>   
  <script src="js/bootstrap/transition.js"></script> 

  <script type="text/javascript">
  // ADD SLIDEDOWN ANIMATION TO DROPDOWN //
  $('.dropdown').on('show.bs.dropdown', function(e){
    $(this).find('.dropdown-menu').first().stop(true, true).fadeIn();
  });

  // ADD SLIDEUP ANIMATION TO DROPDOWN //
  $('.dropdown').on('hide.bs.dropdown', function(e){
    $(this).find('.dropdown-menu').first().stop(true, true).fadeOut();
  });
  </script>

  <script src="js/skrollr.min.js"></script>       
  <script src="js/waypoints.min.js"></script>   
  <script src="js/waypoints-sticky.min.js"></script>   

  <script type="text/javascript">
    var s = skrollr.init();
  </script>
  <script type="text/javascript">
    $('#section-images').waypoint('sticky', {offset: 0,wrapper: '<div class="wrapper-images" />'}); 
    $('#navbar').waypoint('sticky', {offset: 0,wrapper: '<div class="wrapper-navbar" />'});          
  </script>

<% include footer %>