<% include header %>

<div id="header" data-0="opacity:1;display:block;" data-400="opacity:0;display:none;">
    <a class="logo" href="#">
      <img src="img/logo-white.png">
    </a>      
</div>

<div id="first-section">
  <div class="titre" data-0="opacity:1;display:block;" data-400="opacity:0;display:none;">
    <h2 data-0="padding-top:15vh;" data-400="padding-top:0vh;">
      <img src="img/channels/news.png" class="img-circle channel">
      French news
    </h2>       
    <h1 data-0="padding-top:15vh;" data-400="padding-top:5vh;">
      #1 Etats-unis Bank America
    </h1>
  </div>     
</div>

<div id="section-images" class=""> 
  <div class="images">

    <div class="topic active">
      <a href="#">
        <div class="text">Etats-unis Bank America</div>
        <div class="shadow"></div>          
        <img src="img/activesmall.jpg">
      </a>
    </div>
    <div class="topic inactive">
      <a href="#">
        <div class="text">Keyword 1</div>
        <div class="shadow"></div>
        <img src="img/inactivesmall1.jpg">
      </a>
    </div>
    <div class="topic inactive">
      <a href="#">
        <div class="text">Keyword 1</div>
        <div class="shadow"></div>          
        <img src="img/inactivesmall2.png">
      </a>
    </div>  
    <div class="topic inactive">
      <a href="#">
        <div class="text">Keyword 1</div>
        <div class="shadow"></div>          
        <img src="img/inactivesmall3.png">
      </a>
    </div>
    <div class="topic inactive">
      <a href="#">
        <div class="text">Keyword 1</div>
        <div class="shadow"></div>          
        <img src="img/inactivesmall4.jpg">
      </a>
    </div>                        
  </div>         
</div>  




  <div id="main" class="card-style">

    <div id="navbar" class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 <img src="img/channels/news.png" class="img-circle channel">
                 French news                        
                 <span class="icon icon-arrow-down8"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><img src="img/channels/sport.png" class="img-circle channel"> Sport</a></li>
                <li><a href="#"><img src="img/channels/science.png" class="img-circle channel"> Science</a></li>
                <li><a href="#"><img src="img/channels/music.png" class="img-circle channel"> Music</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right ranking">
            <div class="rankby">rank by</div>                
            <li>
              <a href="#">
                <span class="icon icon-star3"></span>
                <span class="text">By favorites</span>
              </a>
            </li>
            <li>
              <a href="#" class="active">
                <span class="icon icon-retweet"></span>
                <span class="text">By retweets</span>
              </a>
            </li>                  
            <li>
              <a href="#">
                <span class="icon icon-clock"></span>
                <span class="text">Chronologically</span>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>

    <div class="container">

      <div class="row titre">
        <h1>Etats-unis Bank America</h1>  
        <h4><a href="#">details on the topic</a></h4>
      </div>       
    
      <div class="row tweet">
        <div class="hidden-xs col-sm-2 profile">
          <img src="img/profiles/monde.png" >
        </div>
        <div class="col-xs-9 col-sm-8 text card">
          <span class="nom">Le Monde</span><span class="handle"><a href="#">@lemondefr</a></span>
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-3 col-sm-2 numbers">
          <a class="number">
            <span class="value">234</span>                
            <span class="icon-retweet"></span>
          </a>
          <a class="number">
            <span class="value">45</span>
            <span class="icon-star3"></span>
          </a>                
        </div>
      </div> 

      <div class="separation"></div>

      <div class="row tweet">
        <div class="col-xs-2 profile">
          <img src="img/profiles/figaro.jpeg">
        </div>
        <div class="col-xs-8 text card">
          <span class="nom">Figaro</span><span class="handle"><a href="#">@figaro</a></span>              
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-2 numbers">
          <a class="number">
            <span class="value">234</span>                
            <span class="icon-retweet"></span>
          </a>
          <a class="number">
            <span class="value">45</span>
            <span class="icon-star3"></span>
          </a>                
        </div>
      </div>  

      <div class="separation"></div>

      <div class="row tweet">
        <div class="col-xs-2 profile">
          <img src="img/profiles/parisien.png">
        </div>
        <div class="col-xs-8 text card">
          <img src="img/activemedium2.jpg">                
          <span class="nom">Le parisien</span><span class="handle"><a href="#">@leparisien</a></span>                
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-2 numbers">
          <a class="number">
            <span class="value">234</span>                
            <span class="icon-retweet"></span>
          </a>
          <a class="number">
            <span class="value">45</span>                
            <span class="icon-star3"></span>
          </a>                
        </div>
      </div>      

      <div class="separation"></div>

      <div class="row tweet">
        <div class="col-xs-2 profile">
          <img src="img/profiles/figaro.jpeg">
        </div>
        <div class="col-xs-8 text card">
          <span class="nom">Figaro</span><span class="handle"><a href="#">@figaro</a></span>              
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-2 numbers">
          <a class="number">
            <span class="value">234</span>                
            <span class="icon-retweet"></span>
          </a>
          <a class="number">
            <span class="value">45</span>                
            <span class="icon-star3"></span>
          </a>                
        </div>
      </div>  

      <div class="separation"></div>

      <div class="row tweet">
        <div class="col-xs-2 profile">
          <img src="img/profiles/parisien.png">
        </div>
        <div class="col-xs-8 text card">
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-2 numbers">
          <a class="number">
            <span class="icon-retweet"></span>
            <span class="value">234</span>
          </a>
          <a class="number">
            <span class="icon-star3"></span>
            <span class="value">45</span>
          </a>                
        </div>
      </div>      

      <div class="separation"></div>

      <div class="row tweet">
        <div class="col-xs-2 profile">
          <img src="img/profiles/figaro.jpeg">
        </div>
        <div class="col-xs-8 text card">
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-2 numbers">
          <a class="number">
            <span class="icon-retweet"></span>
            <span class="value">234</span>
          </a>
          <a class="number">
            <span class="icon-star3"></span>
            <span class="value">45</span>
          </a>                
        </div>
      </div>  

      <div class="separation"></div>

      <div class="row tweet">
        <div class="col-xs-2 profile">
          <img src="img/profiles/parisien.png">
        </div>
        <div class="col-xs-8 text card">
          <p>
            Angers : à 89 ans, il vole les passagers d'un TGV <a href="#">http://dlvr.it/6gFfVB </a>
          </p>
        </div>
        <div class="col-xs-2 numbers">
          <a class="number">
            <span class="icon-retweet"></span>
            <span class="value">234</span>
          </a>
          <a class="number">
            <span class="icon-star3"></span>
            <span class="value">45</span>
          </a>                
        </div>
      </div>                                             

    </div>
  </div>

  <div id="section-background">
    <img  src="img/activebigblur2.jpg" class="section-background-image blur" data-0="opacity:0;" data-300="opacity:1;">
    <img src="img/activebig2.jpg" class="section-background-image net">     
  </div>  

  <script src="js/jquery-2.1.1.min.js"></script>

  <script src="js/bootstrap/dropdown.js"></script>  
  <script src="js/bootstrap/collapse.js"></script>   
  <script src="js/bootstrap/affix.js"></script>  
  <script src="js/bootstrap/alert.js"></script>   
  <script src="js/bootstrap/button.js"></script>  
  <script src="js/bootstrap/carousel.js"></script>   
  <script src="js/bootstrap/modal.js"></script>  
  <script src="js/bootstrap/tooltip.js"></script>  
  <script src="js/bootstrap/popover.js"></script>       
  <script src="js/bootstrap/scrollspy.js"></script>  
  <script src="js/bootstrap/tab.js"></script>   
  <script src="js/bootstrap/transition.js"></script> 

  <script src="js/skrollr.min.js"></script>       
  <script src="js/waypoints.min.js"></script>   
  <script src="js/waypoints-sticky.min.js"></script>   

  <script type="text/javascript">
    var s = skrollr.init();
  </script>
  <script type="text/javascript">
    $('#section-images').waypoint('sticky', {offset: 0,wrapper: '<div class="wrapper-images" />'}); 
    $('#navbar').waypoint('sticky', {offset: 0,wrapper: '<div class="wrapper-navbar" />'});          
  </script>

<% include footer %>